/*
MARGIN

El espacio entre una caja y los adyacentes. Son cuatro tipos de margenes:

    margin-top:    (1)
    margin-right:  (2)
    margin-bottom: (3)
    margin-left:   (4)

Tambien se puede escribir con un shorthand.

    margin: 1em (1, 2, 3, 4);
    margin: 1em(1,3) 2em(2,4);
    margin: 1em(1) 2em(2,4) 3em(3);
    margin: 1em(1) 2em(2) 3em(3) 4em(4);

    Tips:
        1. Comienza desde arriba.
        2. Avanza en sentido de las agujas del reloj.
        3. Si un elemento no tiebe valor toma el de su opuesto.
*/

.div1 {
    margin: 1em 1.5em;
    /*
    margin-top: 1em;
    margin-right: 1.5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    */
}

.div2 {
    margin: 1em auto 1.5em;
    /*
        margin-top: 1em;
        margin-right: auto;
        margin-bottom: 1.5em;
        margin-left: auto;
    */
}
/*
    Tips con los margenes

    1. Puedes usar margenes negativos para mover elementos.
    2. Puedes usar margin-left: auto; y margin-right: auto; para centrar elementos de bloque
    con ancho definido.
*/

/*
COLAPSADO ME MARGENES VERTICALES (ADYACENTES)

    *Significa que cuando hay margenes verticales(top de uno y bottom del otro) éstos no se suman,
    el que toma es el mayor( siempre el mayor absorve al menor).

COLAPSADO DE MARGENES VERTICALES 2 (PADRE HIJO)

    *El margen vertical del hijo se escapa del padre. Para solucionarlo (en el padre) :
    1.padding
    2. overflow: hidden;
    3. float: right1left; (no recomendado)
*/

[class^="box"] {
    background: red;
    width: 200px;
    height: 200px;
}

.box1 {
    margin-bottom: 2em;
}

.box2 {
    margin-top: 3em;
}

.padre {
    background: yellow;
    /*float: left;*/
    /*padding-top: 1px;*/
    overflow: hidden;
}

.hijo {
    margin-top: 3em;
}

/*

    Padding

    Es la separacion entre el contenido y el limite de la caja

    padding-top:   (1)
    padding-right: (2)
    padding-bottom:(3)
    padding-left:  (4)

    ShortHand: Es la misma logica que el margin.

    Tips:
        1. Los paddings no colapsan.
        2. No hay paddings negativos.
        3. Los paddings con porcentajes pueden usarse para crear cajas con una proporcion.

*/

.ratio {
    background: red;
    padding-bottom: 50%; /*El 50% es del contenedor*/
    /*La proporcion siempre se va a mantener si redimensionamos la pagina*/
}

















