/*
    TODOS LOS NAVEGADORES TIENEN SUS ESTILOS POR DEFECTO

    Es buena idea rebreescribir esos estilos.

    h1{
    font-size: 1em;
    }

    ul{
        padding-left: 0;
    }

    p{
        margin: 0;
    }

    a{
        text-decoration: none;
    }

    Podrias sobreescribir a mano los estilos. Pero existen librerias que ayudan mucho.
    Antiguamente se usaba reset.css, al dia de hoy ya no es util.

    La mejor opcion es normalize.css .

*/

