/*

    Float saca un elemento del flujo y lo envia a la derecha o a la izquierda.
    El elemento siguiente lo envolvera de ser posible.

    float
        right
        left
        nobe

*/

/*.img {*/
    /*float: left;   /!*Se floto a la izquierda y el texto lo envolvio*!/*/
/*}*/

[class^="img"] {
    float: right;
    margin-left: 1em;
}

[class^="container"] {
    background: yellow;
    /*display: table;*/
    margin-bottom: 1em;
    /*overflow: hidden;*/
}

.container:before,
.container:after{
    content: "";/*Siempre tienes que pasarle el content al menos vacio*/
    display: block;
    clear: both;
}
/*
    El contenedor de un elemento flotado deja de contenerlo. Para solucionarlo:

        1. overflow: hidden;
        2. display: table;
        3. clearfix con un div vacio( no recomendado)
        4. clearfix con pseudoelementos( recomendado).

    La propiedad clear se usa para que un elemento no reciba elementos flotados a sus lados.

        clear
            left
            right
            both
*/

.parrafo2 {
    clear: right; /*No deja que un elemento flote a su lado*/
}

* {
    box-sizing: border-box;
}

.gallery-container {
    float: left;
    width: 23%;
    margin: 1%;
    border: 1px solid #ccc;
    padding: 3px;
}

.gallery-item {
    display: block;
    width: 100%;
}

































