/*
Border

El concepto de border esta dividido en varias propiedades del tipo:

border-top-width
border-bottom-style
border-left-color

Entonces existen 4 "parametros" para definir un borde:

    color
    width( grosor)
    style( tipo)
    posicion( top, left, ...)

Sobre la posicion se pueden usar los mismos principios usados en margin y padding
(comenzar arriba, moverse en sentido horario, etc).

Entonces:

    border-color: green;
    border-style: solid dashed;
    border-width: 3px 5px 2px;

Valores de border-style:

    solid
    dashed
    dotted
    double
    ridge
    inset
    outset
    etc
*/

[class^="border"] {
    background: yellow;
    height: 50px;
    margin-bottom: 2em;
}

.border-1 {
    border-color: green red blue;
    border-style: solid dashed;
    border-width: 3px 5px 2px;
}

/*
    Existen shorthand por cada posicion:

    border-top:    width style color
    border-bottom: width style color
    border-left:   width style color
    border-right:  width style color

        Sus valores:
*/

.border-2 {
    border-top: 2px solid red;
    border-bottom: 3px dashed green;
}

/*
    El shorthand maximo se aplica a los cuatro lados

    border: width style color;
*/

.border-3 {
    border: 2px solid green;
}

/*
    Border radius

    Forma individual

        border-bottom-left-radius: x y;
        border-bottom-radius-radius: x y;

    El valor de x es el radio en horizontal.
    El valor de y es le radio en vertical.
    Si se indica un solo valor es para x e y  la vez.

    El shorthand border-radius funciona igual que el del margin para las
    posiciones. Con la diferencia de que se enpieza a contar en la esquina superior izquierda.

    Si se quiere definir el radio en x e y en el shorthand se debe separar con un slash "/" . Asi:

        border-radius: valoresx/ valoresy;
*/
.border-4 {
    /*border-top-left-radius: 10px 20px;*/
    /*border-radius: 50%;*/
    border: 1px solid black;
}

.border-5 {
    /*border-radius: 10px 30px;*/
    /*border-radius: 10px / 20px;*/
    border-radius: 10px 20px / 20px;
    border: 1px solid black;
}
































